body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: #f5f5f5;
    color: #333333;
}

.blog-title {
    color: #000;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-flex;
}

.author-welcome {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}
#mainNav{
    margin-top: 0px;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

.nav-logo {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-night {
    display: inline-block;
    padding: 10px 20px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.btn-night:hover {
    background-color: purple;
}

.action-buttons {
    margin-top: 20px;
}

.article-list {
    margin-top: 30px;
}

.article-item {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #93acbe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-title {
    color: #103154;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-details {
    font-size: 14px;
    color: #6c757d;
}

.article-actions {
    margin-top: 10px;
}

.btn-edit {
    margin-right: 10px;
}

.btn-delete {
    margin-right: 10px;
}

.btn-back-reader {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-back-reader:hover {
    background-color: #0056b3;
}

.btn-back-author {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-back-author:hover {
    background-color: #218838;
}


.card {
    margin-right: 3%;
    padding: 2%;
    width: 100%;
    height: 50%;
}

.card .card-bg-color {
    background-color: #666666 !important;
}

.read-more {
    /* margin-left: 17%; */
    background-color: #0D99FF!important;
    color:white!important;
    padding: 2%;
    margin-top: 10%;
}
.read-more:hover{
    background-color: #52CBFF !important;
}

.read-more-night {
    /* margin-left: 17%; */
    background-color: #301934!important;
    color:white!important;
    padding: 2%;
    margin-top: 10%;
}
.read-more:hover{
    background-color: #301934 !important;
}

.logout{
    color: white!important;
    padding:0 !important;
    margin-top: 80%;
}

.search {
    color: white !important;
}

.searchbar {
    margin-left: 70%important;
}

.navbar{
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    background-color: #007bff !important;
}
.latest-section {
    margin-top: 30px;
}

#content {
    margin-top: 10%;
}

h3 {
    padding: 4% !important;
}


.latest-section .section-title-banner>h3 {
    /* background-color: #007bff; */
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
}

.latest-section-night .section-title-banner>h3 {
    /* background-color: #007bff; */
    background-color: #301934;
    color: #fff;
    display: flex;
    justify-content: center;
}

.latest-articles-section .card-img-top {
    height: 45%;
    object-fit: cover;
}
.latest-articles-section .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Additional styles for consistent spacing and alignment */
.latest-articles-section .card {
    margin-bottom: 2%;
    width: 25%;
}

.latest-articles-section .card-body {
    flex: 1;
}

.latest-articles-section .card-text {
    flex: 1;
}

.latest-articles-section .read-more {
    align-self: flex-end;
}

/* Styles for colorblind mode */
.colorblind-mode body {
    /* Adjusted background color for colorblind users */
    background-color: #e0e0e0;
}

.colorblind-mode .button {
    /* Adjusted button color for colorblind users */
    background-color: #FFFFFF;
    color: #000000;
}

.night-mode-toggle {
    font-size: 24px;
    cursor: pointer;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.best-study-tools-section {
    margin-top: 30px;
}

.best-study-tools-section .card-deck {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.best-study-tools-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

.best-study-tools-section .card-body {
    text-align: center;
}

.best-study-tools-section .read-more {
    margin-top: 10px;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#goToTopBtn:hover {
    background-color: #0056b3;
}

.navbar-night {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    background-color: #301934 !important;
}

.introduction-section {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction-section-night{
    background-color: #301934;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}