#tools{
    margin-top: 10%;
}

#flashcards{
    background-color: #52CBFF;
    color: white;
    padding: 2%;
}

#testCards{
    /* margin-left: 25%; */
}

#question{
    padding: 2%;
}

#options > button{
    border: none;
    background-color: #267191;
    padding: 2%;
    color: white;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5%;
}
#options>button:hover{
    background-color: #4b9dc1;
}

h4{
    padding: 2%;
}
#pomodoro{
    display: flex;
}

#pomodoro > p{
    width: 50%;
    margin-left: 10%;
}

#pomodoro-timer {
    font-size: 48px;
    background-color: rgb(173, 42, 19);
    padding: 20px;
    border-radius: 4%;
    color: white;
    display: inline-block;
    margin-left: 2%;
}

#pomodoro-timer > h3 {
    margin-left: 10%;
    margin-top: 15%;
}

#timer {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
    margin-left: 25%;
}

#startButton,
#resetButton {
    background-color: tomato;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15%;
    margin-left: 8%;
    border-radius: 4px;
    cursor: pointer;
}

#startButton:hover,
#resetButton:hover {
    background-color: #f6a495;
}
#newCardButton:hover{
    background-color: #4b9dc1;
    border-color: #4b9dc1;
}
